body{
    Background-color:yellow;
    font-family:serif;Garamond
}
h1{
  font-size: 30px;
  text-align:left
}
h3{
color: darkgreen;
font-size: 22px;
text-align: Left
}
p{
  text-align: justify;
  font-size:18px;
}
